<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Alarms</h1>
<div>


<% for(var i = 0 ; i < data.length ; i++ ) { %>
         <% var alarm = data[i] %>
           <%= alarm.alarmCode %> <br>
      <% } %>
   
</div>
</body>
</html>